/home/kuzmaline/Quantum/diploma/test.cpp
/home/kuzmaline/Quantum/diploma/test.py
/home/kuzmaline/Quantum/diploma/to_lomonosov.sh
/home/kuzmaline/Quantum/diploma/.vscode
/home/kuzmaline/Quantum/diploma/.ipynb*
